# Python specific
__pycache__/
*.pyc
.DS_Store
.pytest_cache
*.py[cod]
*$py.class
.coverage
htmlcov/

# Text editor/IDE
.vscode/

# IPython notebook checkpoint
*.ipynb_checkpoints*

# Application specific
*.tar.gz
training/notebooks/~$Experiment_logs.xlsx
*.npz
*.csv
*.pkl
*.pickle
*.png
*.html
